html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0e6d6;
}


section, .container {
  background: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-left: 12px;
  padding-right: 12px;
}
